bin/Release/net6.0/SignSystem.dll
bin/Release/net6.0/SignSystem.pdb
bin/Release/net6.0/target.png
bin/Release/net6.0/template.png
obj/Debug/net6.0/SignSystem.dll
obj/Debug/net6.0/SignSystem.pdb
obj/Debug/net6.0/ref/SignSystem.dll
obj/Debug/net6.0/refint/SignSystem.dll
obj/Release/net6.0/SignSystem.csproj.CoreCompileInputs.cache
obj/Release/net6.0/SignSystem.dll
obj/Release/net6.0/SignSystem.pdb
obj/Release/net6.0/ref/SignSystem.dll
obj/Release/net6.0/refint/SignSystem.dll
